@import 'src/sass.scss';

section {
    position: relative;
    text-transform: uppercase;
    min-height: 70vh;
    max-width: none;
    overflow: hidden;
    background-image: linear-gradient(transparent, #29294e);
    padding: 0;

    .box {
        max-width: $max-width;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        padding: 1rem;
        width: 100%;
        z-index: 1;
    }
    .title {
        padding-bottom: 10vh;
        padding-left: 1rem;

        h1 {
            font-size: 50px;
            line-height: 55px;
        }
        p {
            font-size: 35px;
        }
        .buttons {
            display: flex;
            align-items: baseline;
            gap: 5px;

            & > div {
                border-radius: 2rem;
                background-color: var(--color-primary);
                padding: 8px 12px;
            }
            div:nth-child(2) {
                background-color: transparent;
                color: var(--color-primary);
                border: 2px solid var(--color-primary);
            }
        }
    }
}


@media only screen and (min-width: 1024px) {
    section {
        .title {
            h1 {
                font-size: 80px;
            }
        }
    }
}