@import 'src/sass.scss';

section {
    position: relative;
    text-transform: uppercase;
    min-height: 70vh;
    max-width: none;
    overflow: hidden;
    background-image: linear-gradient(transparent, #29294e);
    //background-image: linear-gradient(transparent, #ff627c88, #ffca9b);
    padding: 0;

    .box {
        max-width: $max-width;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        padding: 1rem;
        width: 100%;
        z-index: 1;
    }
    .title {
        padding-bottom: 10vh;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        h1 {
            font-size: 50px;
            line-height: 55px;
        }
        p {
            font-size: 35px;
        }
        .buttons {
            display: flex;
            align-items: baseline;
            gap: 5px;

            & > div {
                border-radius: 2rem;
                background-color: var(--color-bg-1);
                padding: 8px 12px;
                font-weight: bold;
            }
            div:nth-child(2) {
                background-color: transparent;
                color: var(--color-bg-1);
                border: 2px solid var(--color-bg-1);
            }
        }
    }

    .planet {
        background-color: var(--planet);
        background-image: linear-gradient(-225deg,rgba(255, 255, 255, 0.815), transparent, rgba(0, 0, 0, 0.1));
        box-shadow: 0 0 30vw var(--planet), 0 0 15vw var(--planet), 0 0 10px var(--planet);
        position: absolute;
        bottom: -10vh;
        right: -5vw;
        height: auto;
        width: clamp(250px, 25vw, 600px);
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
}


@media only screen and (min-width: 1024px) {
    section {
        .title {
            h1 {
                font-size: 80px;
            }
        }
    }
}