@import 'src/sass.scss';

$tech-width: 75px;
$tech-margin: 20px;

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: $gap-1;
    color: white;
    margin: 0 auto;
    width: 90vw;
    min-width: $min-width;
    perspective: 1500px;
    
    & > * {
        grid-column: span 12;
        border-radius: $border-base;
        box-shadow: 0 0 10px #0000002e;
        background-color: rgba(36, 36, 36, 0.842);
        padding: $gap-1;
    }

    .picture {
        padding: 0;
        overflow: hidden;
        animation: 10s profilePicture 2s infinite ease-in-out;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @keyframes profilePicture {
            0%, 100% {transform: rotateY(0) rotateX(0)}
            50% {transform: rotateY(5deg) rotateX(5deg)}
        }
    }
    
    .about {
        background-color: var(--color-bg-1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        padding: 2rem;

        p {
            text-align: justify;
        }
    }

    .skill, .learn {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: $gap-1 0;
        text-align: center;
        overflow: hidden;
        
        .row, .content {
            display: flex;
            align-items: center;
            padding: 10px 0;
            animation: animateRow 30s linear infinite;

            .item {
                min-width: $tech-width;
                margin-left: $tech-margin;
            }
            i {
                font-size: 50px;
            }
        }
        .content {
            animation: none;
            justify-content: space-evenly;
            .item {
                margin: 0;
            }
        }
        @keyframes animateRow {
            to { translate: calc(-14 * ($tech-width + $tech-margin)); }
        }
    }
    
    .cv, .flag {
        grid-column: span 6;
    }

    .cv {
        color: white;
        background-color: rgb(0, 174, 255);
        background-image: linear-gradient(transparent, rgba(20, 20, 20, 0.212));
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        text-align: center;
        overflow: hidden;
        position: relative;

        svg {
            position: absolute;
            left: -10%;
            bottom: -20%;
            height: 120%;
            width: auto;
            opacity: .15;
        }
        i {
            font-size: 50px;
        }
        
        & > div {
            transform: translateY(-50px);
            opacity: 0;
            animation: 10s cvAni infinite;
        }

        @keyframes cvAni {
            0% {transform: translateY(-50px); opacity: 0;}
            10%, 90% {transform: translateY(0); opacity: 1;}
            100% {transform: translateY(+50px); opacity: 0;}
        }
    }

    .flag {
        overflow: hidden;
        padding: 0;
        display: flex;
        flex-direction: column;
        span {
            height: 100%;
        }
        :nth-child(1) { background-color: red; }
        :nth-child(2) { background-color: white; }
        :nth-child(3) { background-color: green; }
    }
}

@media only screen and (min-width: $tablet-width) {
    section {
        .picture, .about, .learn, .skill {
            grid-column: span 6;
        }
        .about {
            grid-row: span 2;
        }
        .cv, .flag {
            grid-column: span 3;
        }
    }
}

@media only screen and (min-width: $laptop-width) {
    section {
        .picture, .about {
            grid-column: span 4;
            grid-row: span 2;
        }
        .about {
            grid-column: span 6;
        }
        .learn {
            grid-column: span 4;
        }
        .cv, .flag {
            grid-column: span 2;
        }
        .skill {
            grid-column: span 8;
        }
    }
}