@import 'src/sass.scss';

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 10;
    color: var(--color-text);
    font-weight: bold;
    text-transform: uppercase;

    ul {
        display: flex;
        column-gap: 5px;
    }
}