@import 'src/sass.scss';

#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 10;

    ul {
        display: flex;
        column-gap: 5px;
    }
}