@import 'src/sass.scss';

footer {
    position: relative;
    color: var(--color-text);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundary);
}