@import 'src/sass.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: rgb(0, 132, 209);
    --color-bg-1: rgb(233, 233, 233);
    --color-bg-2: rgb(214, 214, 214);
    --color-text: rgb(12, 12, 12);
}
html {
    font-family: 'Satoshi', sans-serif;
    scroll-behavior: smooth;
    color: var(--color-text);
    background-color: var(--color-bg-1);
}
main {
    min-height: 100vh;
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--color-primary);
}
button, .btn {
    background-color: var(--color-bg-1);
    color: var(--color-primary);
    border-radius: 2rem;
    border: solid 2px var(--color-primary);
    padding: 5px 10px;
    cursor: pointer;

    $button-ani-1: .5s;
    transition: color $button-ani-1, background-color $button-ani-1, border-color $button-ani-1;
}
button.active, .btn.active {
    background-color: var(--color-primary);
    color: var(--color-bg-1);
    border-color: transparent;
}


@media only screen and (min-width: $tablet-width) {
    main, footer {
        margin-left: $sidenav_width;
    }
}