@import 'src/sass.scss';

.item {
    transition: scale .25s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    .title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
    }
    .cover {
        min-width: 200px;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: $shadow-1;
        background-color: var(--color-primary);
        width: 100%;
        height: 230px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .tech {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;

        i {
            font-size: 30px;
            color: var(--color-primary);
        }
    }
    &:hover {
        scale: .95;
    }
    &.hide {
        display: none;
    }
}