@import 'src/sass.scss';

.item {
    max-width: 500px;
    overflow: hidden;
    border-radius: $border-base;
    
    .cover {
        cursor: pointer;
        position: relative;
        min-width: 200px;
        box-shadow: $shadow-1;
        background-color: var(--color-primary);
        width: auto;
        aspect-ratio: 1/1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        padding-top: 3rem;
        background-image: linear-gradient(transparent, black);

        .title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
        }
        .tech {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
    
            i {
                font-size: 30px;
                color: var(--color-primary);
            }
        }
    }
    .action {
        background-color: var(--color-primary);
        background-image: linear-gradient(transparent, rgba(15, 15, 15, 0.247));
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        padding: 10px;

        a {
            color: white;
        }
    }
    
    &.hide {
        display: none;
    }
}