@import 'src/sass.scss';

section {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-1);
    
    .filter {
        display: flex;
        overflow: auto;
        column-gap: 10px;
        top: 0;
        position: sticky;
        padding: 5px;
        background-color: var(--color-bg-1);
        z-index: 10;
        margin: 0 auto;

        button {
            display: flex;
            align-items: center;
            column-gap: 5px;
            font-size: 20px;
        }
    }
    .content {
        padding: 1rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }

    p {
        text-align: center;
    }
}

@media only screen and (min-width: $max-width) {
    section {
        border-radius: $border-base;
    }
}